<%- include('../partials/header') %>

    <h2><%- title %></h2>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight #</th>
                <th>Depart Date - Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% for(const f of flights) { %>
                <tr>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs.toLocaleString() %>
                    </td>
                    <td>
                        <a href="/flights/<%= f.id %>">Details</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>